.cta--container {
  background: url('../../../../public/images/Shapes.png') #7F57F1;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  background-position: 100px 0;
}

.cta {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0;
}

.cta--header {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.cta--subheader {
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: 'liga' off;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 21px;
}

.input--button {
  width: 100%;
  display: flex;
  box-shadow: 0px 1px 2px rgba(127, 87, 241, 0.05);
}

.input--button input {
  padding: 16px 24px;
  background: white;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
  display: flex;
  flex-grow: 1;
  outline: none;
  border: none;
  border-radius: 8px 0px 0px 8px;
}

.input--button input::placeholder {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(47, 35, 79, 0.5);
}

.input--button button {
  padding:16px 50px;
  outline: none;
  border: none;
  border-radius: 0px 8px 8px 0px;
  font-family: var(--font-text);
  background: #865CFE;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid transparent;
}

.input--button button:hover {
  background: #6540ca;
}

.input--button button:active {
  border: 1px solid white;
}
