.search--navbar {
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
  padding: 32px;
  height: 100%;
  width: 250px;
}

.navbar--logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.navbar--logo--name {
  color: #7F57F1;
  font-size: 22px;
  font-family: var(--font-text);
}

.navbar--logo--name span {
  color: #2F234F;
}

.navbar--input {
  display: flex;
  gap: 16px;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 40px;
  max-width: 200px;
  width: -webkit-fill-available;
}

.navbar--input input {
  border: none;
  outline: none;
  font-family: var(--font-text);
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #575555;
  display: flex;
  width:100%;
}

.navbar--list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar--list--title {
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2F234F;
  opacity: 1;
}

.navbar--list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar--list ul li {
  list-style: none;
}

.navbar--list ul li a {
  display: flex;
  padding: 6px;
  padding-left: 0;
  gap: 24px;
  cursor: pointer;
  align-items: center;
}

.navbar--list ul li a p {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2F234F;
  opacity: 0.6;
}

.navbar--list ul li:hover a *{
  opacity: 1;
  color: #2F234F;
}
.navbar--list ul li:hover a p{
  opacity: 1;
}

.navbar--logout {
  margin-top: auto;
  display: flex;
  padding: 14px;
  background: #006845;
  border-radius: 8px;
  gap: 16px;
  align-items: center;
}

.navbar--logout:hover {
  background: rgba(0, 104, 69, 0.6);
}

.navbar--logout p {
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.active {
  color: #006845 !important;
  opacity: 1 !important;
}

